.group-list {
  width: 28%;
  border: 1px solid #ddd;
}

.group-detail,
.group-student-list {
  margin-left: 3%;
  width: 65%;
  border: 1px solid #ddd;
}

.group-title {
  height: 40px;
  line-height: 40px;
  background: rgba(248,248,248,.9);
  padding: 0 20px;
}

.group-foot {
  border-top: 1px solid #ddd;
  background: rgba(248,248,248,.9);
  padding: 0px 20px 10px 0;
  overflow: hidden;
}

.group-ul li {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 40px;
  border-top: 1px solid #ddd;
}

.group-ul li a {
  text-decoration: underline;
  font-size: 14px;
  display: block;
  width: 100%;
}

.group-ul li:hover,
.group-ul li.active {
  background: #fafafa;
}

.group-ul li.active a {
  color: #438eb9;
  text-decoration: none;
  font-weight: bold;
}

.student-list-item {
  display: inline-block;
  margin: 5px 10px 5px 20px;
  cursor: pointer;
}

.student-list-li label {
  width: 100%;
  cursor: inherit;
  margin-left: 10px;
}

#visChosenList, #visList {
  line-height: 1em;
  margin-bottom: 5px;
}

#visChosenList span {
  padding: 3px 8px;
  background: #dc8374;
  border-radius: 3px;
  margin: 3px;
  color: #fff;
}

.agenda-list {
  width: 100%;
  border: 1px solid #ddd;
}

.appointments-list {
  width: 100%;
  text-align: center;
}

.appointments-list td {
  min-height: 40px;
}

.appointments-list .time-during {
  width: 40px;
}

.appointments-list .student-info {
  width: 55%;
}