body {
  background: #FFF;
}

.mash{
  background: rgba(0, 0, 0, 0.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#AF000000,endcolorstr=#AF000000);
  -pie-background:rgba(0, 0, 0, .7);
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.icon {
  font-size: 20px;
}

#header {
  height: 50px;
  background: #438eb9;
  color: #FFF;
  line-height: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#header a {
  color:#FFF;
}

#main {

}

#aside {
  float: left;
  width: 200px;
  background: #eee;
  position: relative;
  border: 1px solid #ccc;
  border-width: 0 1px 0 0;
  background-color: #f2f2f2;
}

#aside:before {
  content: "";
  display: block;
  width: 200px;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-width: 0 1px 0 0;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.aside-topbar {
  text-align: center;
  font-size: 18px;
  background: #f5f5f5;
  height: 40px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #d5d5d5;
}

.nav-topbar {
  background: #f5f5f5;
  border-bottom: 1px solid #d5d5d5;
  font-size: 12px;
  height: 40px;
  padding-left: 20px;
  color: #444;
}

.breadcrumbs {
  line-height: 24px;
  display: inline-block;
}

.breadcrumbs a {
  color: #4c8fbd;
}

.breadcrumbs li {
  display: inline-block;
  line-height: 40px;
}

.breadcrumbs li:after {
  font-family: 'FontAwesome';
  content: '\f105';
  margin: 0 4px 0 10px;
}
.breadcrumbs li:last-child {
  font-weight: bold;
}
.breadcrumbs li:last-child:after {
  content: '';
}

#aside .nav-list li {
  border-top: 1px solid #fff;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

#aside .nav-list li.active {
  background: #FFF;
  border-right: 1px solid #2b7dbc;
}

#aside .nav-list li.active:after {
  display: block;
  content: "";
  position: absolute!important;
  right: 0;
  top: 6px;
  border: 8px solid transparent;
  border-width: 14px 10px;
  border-right-color: #2b7dbc;
}

#aside .nav-list li a {
  padding-left: 40px;
  display: block;
  height: 40px;
  line-height: 40px;
  color: #585858;
  text-shadow: none!important;
  border-bottom: 1px solid #e5e5e5;
  text-decoration: none;  
}
#aside .nav-list li a:hover {
  background: #F9F9F9;
  border-left: 3px solid #2b7dbc;
}

.dropdown-navlist {
  position: relative;
}
.dropdown-navlist:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 40px;
  top: 0;
  bottom: 0;
  border: 1px dotted #9dbdd6;
  border-width: 0 0 0 1px;
}
.dropdown-navlist li:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 7px;
  left: 42px;
  top: 20px;
  border-top: 1px dotted #9dbdd6
}
.dropdown-navlist li {
  background: #FFF!important;
}

.dropdown-navlist li a {
  border-bottom: 1px dotted #e5e5e5!important;
  padding-left: 70px!important;
}
.dropdown-navlist li a:hover {
  color: #4b88b7!important;
  border-left: none!important;
  background: #fff!important;
}

.dropdown-navlist li.active a:before,
.dropdown-navlist li a:hover:before {
  font-family: 'FontAwesome';
  font-size: 12px;
  content: "\f101";
  position: absolute;
  top: 0px;
  color: #4b88b7;
  left: 55px;
}
.dropdown-navlist li:last-child a {
  border-bottom: 1px solid #e5e5e5!important;
}

#content {
  margin-left: 200px;
}

.content-container {
  margin: 0px 20px;
}

.content-header {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  color: #2679b5;
}

.content-body {
  padding: 20px 0;
}

.dialog {
  z-index: 8000;
  position: fixed;
  top: 40px;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  display: none;
  background: #FFF;
}

.dialog-title {
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid #d5d5d5;
  padding: 20px;
}

.dialog-content {
  padding: 20px 30px;
  line-height: 2.5em;
  border-bottom: 1px solid #d5d5d5;
}

.dialog-foot {
  background: #eff3f8;
  height: 70px;
  line-height: 55px;
  padding: 0 20px;
}

.dialog-content .input-text {
  width: 80%;
  font-size: 14px;
}
.dialog-content .input-textarea {
  width: 100%;
  font-size: 14px;
  padding: 3px;
  line-height: 14px;
  height: 100px;
}

span.datetime-format {
  color: #BC0000;
  border-radius: 3px;
  background: #E0E0E0;
  padding: 3px 5px;
  margin: 3px;
}