input.error {
  border-color: #E01B1B;
  background: #fff0f0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

label.error {
  font-size: 12px;
  display: block;
  text-align: right;
  color: #D56161;
}