{% import 'tools.twig' as tools %}
<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% if webTitle %}{{ webTitle }}{% else %}{{ siteTitle }}{% endif %}</title>
    <meta name="keyword" content="{{ siteKeyword }}" />
    <meta name="description" content="{{ siteDescription }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {{ renderJs('components/jquery/jquery.min.js') | raw }}
    {{ renderCss('components/normalize.css/normalize.css') | raw }}
    {{ renderJs('scripts/global.js') | raw }}
    {{ renderCss('styles/base.css') | raw }}
    {{ renderCss('styles/styles.css') | raw }}
    {{ renderCss('styles/dashboard.css') | raw }}
    {{ renderCss('font/font-awesome.min.css') | raw }}
    <!--[if IE 7]>
    {{ renderCss('font/font-awesome-ie7.min.css') | raw }}
    <![endif]-->
    {% block htmlhead %}
    {% endblock %}
  </head>
  <body {% block body_class %}{% endblock %}>
  {% include 'flash_message.html.inc' %}
  {% block body %}
  <div id="header">
    <div class="pull-left">
      <a href="{{ urlFor('master.dashboard[get]') }}">Reservation</a>
    </div>
    <div class="pull-right">
      {{ user.username }}
    </div>
  </div>

  <div id="main">
    <div id="aside">
      <div class="aside-topbar">欢迎使用</div>
      <ul class="nav-list">
        <li><a href="{{ urlFor('master.dashboard[get]') }}">控制台</a></li>
        <li>
          <a href="javascript:void(0);" class="nav-dropdown">日程安排 <i class="arrow icon-angle-down"></i></a>
          <ul class="dropdown-navlist">
            {% if user.hasPerm('agenda.work_arrangement[get]') %}
            <li><a href="{{ urlFor('agenda.work_arrangement[get]') }}">工作安排</a></li>
            {% endif %}
            {% if user.hasPerm('agenda.view_mine[get]') %}
            <li><a href="{{ urlFor('agenda.view_mine[get]') }}">查看预约</a></li>
            {% endif %}
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" class="nav-dropdown">学生管理 <i class="arrow icon-angle-down"></i></a>
          <ul class="dropdown-navlist">
          {% if user.hasPerm('agenda.group_index[get]') %}
            <li><a href="{{ urlFor('agenda.group_index[get]') }}">学生分组</a></li>
          {% endif %}
          </ul>
        </li>
        <li>
          <a href="javascript:void(0);" class="nav-dropdown">账户管理 <i class="arrow icon-angle-down"></i></a>
          <ul class="dropdown-navlist">
            <li><a href="{{ urlFor('account.profile[get]') }}">个人信息</a></li>
            <li><a href="{{ urlFor('account.password[get]') }}">修改密码</a></li>
          </ul>
        </li>
        <li><a href="{{ urlFor('account.sign_out[get]') }}">退出系统</a></li>
      </ul>
    </div>
    <div id="content">
      <div class="nav-topbar">
        <ul class="breadcrumbs">
          <li><i class="icon icon-home"></i> <a href="{{ urlFor('master.dashboard[get]') }}">控制面板</a></li>
          {% block breadcrumbs %}
          {% endblock %}
        </ul>
      </div>
      {% block content %}
      <div class="content-container">
        {% block content_header %}
        {% endblock %}

        <div class="content-body">
        {% block content_body %}
        {% endblock %}
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
  {% endblock %}
  <script>
  $(function(){
    $(".dropdown-navlist").hide();
    $(".nav-dropdown").click(function(){
      $(this).next('ul').slideToggle('fast');
    });
    $('.nav-list').children('li').each(function(){
      var liObj = $(this);
      if (liObj.children('a').attr('href') == window.location.pathname) {
        liObj.addClass('active');
      }
    });
    $('.dropdown-navlist').each(function() {
      var ul = $(this);
      if (ul.children('li').length < 1) {
        ul.parent('li').remove();
        ul.remove();
      }
      ul.children('li').each(function(){
        var liObj = $(this);
        if (liObj.children('a').attr('href') == window.location.pathname) {
          liObj.addClass('active');
          ul.show();
          return ;
        }
      });
    });
  });
  </script>
  {% block bodyfoot %}
  {% endblock %}
  </body>
</html>