{% extends 'base.html' %}
{% block body_class %}id="cas"{% endblock %}

{% block htmlhead %}
{{ renderCss('styles/account.css') | raw }}
{% endblock %}

{% block body %}
<div id="main">
  <div class="align-center">
    <h2>请使用深圳大学统一认证接口注册</h2>
    <p>
      <a href="https://auth.szu.edu.cn/cas.aspx/signin?service=http://ias.szu.edu.cn/account/cas" class="btn btn-large-width btn-huge btn-success">深圳大学统一认证登录</a>
    </p>
    <p>
      <a href="{{ urlFor('account.sign_in[get]') }}">返回</a>
    </p>
  </div>
</div>
{% endblock %}
{% block bodyfoot %}
{% endblock %}