{% extends 'dashboard/base.html' %}

{% block breadcrumbs %}
<li>修改密码</li>
{% endblock %}

{% block content_header %}
<div class="content-header">
修改密码
</div>
{% endblock %}

{% block content_body %}
<form method="post" action="{{ urlFor('account.password[post]') }}" id="password-form" class="style-form">
<div id="password-box" class="box-with-border">
  <div id="password-box-header" class="box-header">修改密码</div>
    <div id="password-fieldset" class="box-body">
    {% if not user.isEmptyPassword %}
      <div class="form-field">
        <label class="label">原始密码</label>
        <input type="password" name="old_password" placeholder="原始密码" />
      </div>
    {% endif %}
      <div class="form-field">
        <label class="label">新密码</label>
        <input type="password" id="new_password" name="new_password" placeholder="新密码" />
      </div>
      <div class="form-field">
        <label class="label">密码确认</label>
        <input type="password" name="confirm_password" placeholder="密码确认" />
      </div>
    </div>
  <div id="password-box-footer" class="box-footer align-right">
    <button type="submit" class="btn btn-primary">修改</button>
  </div>
</div>
</form>
{% endblock %}


{% block bodyfoot %}
{{ renderJs('components/jquery-validation/dist/jquery.validate.min.js') | raw }}
{{ tools.formErrors(errors) }}
<script>
$(function() {
  $("#password-form").validate({
    rules: {
      {% if not user.isEmptyPassword %}
      old_password: {
        required: true,
        minlength: 6,
        maxlength: 20
      },
      {% endif %}
      new_password: {
        required: true,
        minlength: 6,
        maxlength: 20,
      },
      confirm_password: {
        required: true,
        minlength: 6,
        maxlength: 20,
        equalTo: '#new_password',
      },
    },
    messages : {
      {% if not user.isEmptyPassword %}
      old_password: {
        required: '请输入原始密码',
        minlength: '原始密码不能少于 6 位',
        maxlength: '原始密码不能多于 20 位',
      },
      {% endif %}
      new_password: {
        required: '请输入新密码',
        minlength: '新密码不能少于 6 位',
        maxlength: '新密码不能多于 20 位',
      },
      confirm_password: {
        required: '请输入确认密码',
        minlength: '确认密码不能少于 6 位',
        maxlength: '确认密码不能多于 20 位',
        equalTo: '确认密码不匹配',
      },
    },
  });
});
</script>
{% endblock %}