{% extends 'base.html' %}
{% block body_class %}id="login"{% endblock %}

{% block htmlhead %}
{{ renderCss('styles/account.css') | raw }}
{% endblock %}

{% block body %}
<div id="main">
  <form action="{{ urlFor('account.sign_in[post]') }}" id="login-form" class="style-form">
    <div id="login-box" class="box-with-border">
      <div id="login-box-header" class="box-header">普通登录</div>
        <div id="login-fieldset" class="box-body">
          <div class="form-field">
            <label class="label">用户名/邮箱</label>
            <input type="text" name="username" placeholder="用户名 / 邮箱" />
          </div>
          <div class="form-field">
            <label class="label">登录密码</label>
            <input type="password" name="password" placeholder="登录密码" />
          </div>
        </div>
      <div id="login-box-footer" class="box-footer align-right">
        <button type="submit" class="btn btn-primary">登录</button>
        <a href="{{ urlFor('account.sign_up[get]') }}" class="btn btn-danger">注册</a>
      </div>
    </div>
  </form>
  <div class="align-center">
    <a href="https://auth.szu.edu.cn/cas.aspx/login?service=http://ias.szu.edu.cn/account/cas" class="btn btn-large-width btn-success">深圳大学统一验证登录</a>
  </div>
</div>
{% endblock %}
{% block bodyfoot %}
{% endblock %}