<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% if webTitle %}{{ webTitle }}{% else %}{{ siteTitle }}{% endif %}</title>
    <meta name="keyword" content="{{ siteKeyword }}" />
    <meta name="description" content="{{ siteDescription }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {{ renderCss('components/normalize.css/normalize.css') | raw }}
    {{ renderCss('styles/base.css') | raw }}
    {{ renderCss('styles/button.css') | raw }}
    {{ renderCss('styles/form.css') | raw }}
    {{ renderCss('styles/error.css') | raw }}
    {% block htmlhead %}
    {% endblock %}
  </head>
  <body {% block body_class %}{% endblock %}>
  {% block body %}
  {% endblock %}
    {{ renderJs('components/jquery/dist/jquery.min.js') | raw }}
  {% block bodyfoot %}
  {% endblock %}
  </body>
</html>