{% extends 'dashboard/base.html' %}

{% block htmlhead %}
{{ renderCss('styles/fullcalendar.min.css') | raw }}
{{ renderCss('styles/agenda.css') | raw }}
{% endblock %}

{% block breadcrumbs %}
<li>发布空闲时段</li>
{% endblock %}

{% block content_header %}
{% endblock %}

{% block content_body %}
<div class="mash"></div>
<div class="dialog">
  <form id="dialog-form">
  <div class="dialog-title">
    &nbsp;<span class="dialog-title-content"></span>
    <div class="pull-right">
      <a href="javascript:void(0);" class="dialog-btn-close">
        <i class="icon icon-remove"></i>
      </a>
    </div>
  </div>
  <div class="dialog-content"></div>
  <div class="dialog-foot">
    <div class="pull-right">
      <div id="add-appointment-dialog-foot" class="dialog-foot-div">
        <a href="javascript:void(0);" class="btn btn-primary dialog-btn-confirm">预约</a>
        <a href="javascript:void(0);" class="btn btn-info dialog-btn-close">关闭</a>
      </div>
    </div>
  </div>
  </form>
</div>

<div id="calendar"></div>
{% endblock %}

{% block bodyfoot %}
{{ renderJs('scripts/plugins/moment.min.js') | raw }}
{{ renderJs('scripts/plugins/fullcalendar.min.js') | raw }}
{{ renderJs('scripts/plugins/fullcalendar.lang.zh-cn.js') | raw }}
<script type="text/javascript">
$(function() {
  var hideDialog = function() {
    $('.dialog').fadeOut('fast');
    $('.mash').fadeOut('fast');
  }

  var showAppointmentDialog = function(calEvent, jsEvent, view) {
    currentClickEvent = calEvent;
    $('.dialog-foot-div').hide();
    $('#add-appointment-dialog-foot').show();
    $('.dialog-foot').show();
    $('.dialog-title-content').html('预约时段');
    var content = $('<div></div>');

    var startDiv = $('<span></span>')
                    .addClass('datetime-format')
                    .append(calEvent.start.format('YYYY-MM-DD HH:mm:ss'));
    var endDiv = $('<span></span>')
                    .addClass('datetime-format')
                    .append(calEvent.end.format('YYYY-MM-DD HH:mm:ss'));

    var placeInfo = $('<div></div>');
    placeInfo.append('地点: ').append($('<strong></strong>').append(calEvent.work_place));

    var additionalInfo = $('<div></div>');
    if (calEvent.descrition) {
      additionalInfo.append('附加信息: ').append($('<div></div>').append(calEvent.remark));
    }

    var leaveMessage = $('<div></div>');
    leaveMessage.append('留言给教师：').append($('<div></div>').append('<textarea id="remark" class="input-textarea"></textarea>'));

    content.append($('<div>预约时间：</div>').append(startDiv).append(' ~ ').append(endDiv));
    content.append(placeInfo);
    content.append(additionalInfo);
    content.append(leaveMessage);
    $('.dialog-content').html(content);
    $('.dialog').fadeIn('fast');
    $('.mash').fadeIn('fast');

    $('.dialog-btn-confirm').unbind();
    $('.dialog-btn-confirm').click(function(){
      var timer;
      var cid = calEvent.id;
      var start = calEvent.start.format('YYYY-MM-DD HH:mm:ss');
      var end = calEvent.end.format('YYYY-MM-DD HH:mm:ss');
      var remark = $('#remark').val();
      $.ajax({
        url: '{{ urlFor("agenda.student_appointment[post]") }}',
        type: 'post',
        dataType: 'json',
        cache: false,
        data: {
          cid: cid,
          remark: remark,
          start: start,
          end: end,
        },
        beforeSend: function(){
          timer = setTimeout(function(){
            showTipDialog('数据发送中', '数据发送中，请耐心等候..');
          }, 500);
        },
        success: function (res) {
          if (res.success) {
            clearTimeout(timer);
            hideDialog();
            $G.flash.flash('预约成功', 'success');
            setTimeout(function(){
              window.location.reload();
            }, 1500);
          } else {
            showTipDialog('预约失败', res.messages.join(', '));
          }
        },
        error: function(res) {
          clearTimeout(timer);
          hideDialog();
          $G.flash.flash('服务器发生错误，请联系管理员', 'danger');
        }
      });
    });
  }

 var showTipDialog = function(title, content) {
    $('.dialog-foot').hide();
    $('.dialog-title-content').html(title);
    $('.dialog-content').html(content);
    $('.dialog').fadeIn();
    $('.mash').fadeIn();
  }

  $('.dialog-btn-close').click(function() {
    hideDialog();
  })

  calendar = $('#calendar').fullCalendar({
    firstDay: 0,
    weekends: true,
    lang: 'zh-cn',
    header: {
      left: 'prev,next,today',
      center: 'title',
      right: 'month,agendaWeek',
    },
    height: 'auto',
    allDaySlot: false,
    minTime: '08:00:00',
    maxTime: '18:00:00',
    slotDuration: '00:05:00',
    defaultView: 'agendaWeek',
    editable: false,
    eventLimit: false,
    selectable: false,
    selectHelper: false,
    events: function (start, end, timezone, callback) {
      var timer;
      $('#calendar').fullCalendar('removeEvents');
      $.ajax({
        url: "{{ urlFor('agenda.appointment_timetable_json[get]') }}",
        type: 'get',
        dataType: 'json',
        data: {
          start: start.unix(),
          end: end.unix(),
        },
        beforeSend: function(){
          timer = setTimeout(function(){
            showTipDialog('数据加载中', '数据加载中，请耐心等候..');
          }, 500);
        },
        success: function(res) {
          callback(res);
          clearTimeout(timer);
          hideDialog();
        },
        error: function(res) {
          $G.flash.flash('服务器发生错误，请联系管理员', 'danger');
          clearTimeout(timer);
          hideDialog();
        }
      });
    },
    eventClick: function (calEvent, jsEvent, view) {
      if (calEvent.mine) {
        return showAppointmentDetail(calEvent, jsEvent, view);
      }
      if (calEvent.canAppoint) {
        showAppointmentDialog(calEvent, jsEvent, view);
      }
    },
  });
});
</script>
{% endblock %}
