{% extends 'dashboard/base.html' %}

{% block htmlhead %}
{{ renderCss('styles/agenda.css') | raw }}
{% endblock %}

{% block breadcrumbs %}
<li>查看预约</li>
{% endblock %}

{% block content_header %}
<div class="content-header">
查看预约
</div>
{% endblock %}

{% block content_body %}
<div class="pull-left agenda-list">
  <div class="group-list-body group-body">
    <table class="appointments-list">
      <thead>
        <tr>
          <th class="time-date" style="width: 20%;">日期</th>
          <th class="time-during" style="width: 20%;">时段</th>
          <th class="event">预约情况</th>
        </tr>
      </thead>
      <tbody>
        {% for each in appointments %}
        <tr class="underlined">
          <td>{{ each.calendar.startTime | date('Y-m-d') }}</td>
          <td>{{ each.calendar.startTime | date('H:i') }} - {{ each.calendar.endTime | date('H:i') }}</td>
          <td class="event">
            {{ each.account.name }}
            <img src="{{ siteUrl('/static/images/plus.png') }}" id="list-plus-btn-{{ each.id }}" class="list-plus-btn" data-id="{{ each.id }}" />
            <img src="{{ siteUrl('/static/images/minus.png') }}" id="list-minus-btn-{{ each.id }}" class="list-minus-btn" data-id="{{ each.id }}" />
          </td>
        </tr>
        <tr id="desc-{{ each.id }}" class="event-description">
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="event-description-item">
            手机：{% if each.account.phone %}{{ each.account.phone }}{% else %}无{% endif %}
            <br />
            短号：{% if each.account.shortPhone %}{{ each.account.shortPhone }}{% else %}无{% endif %}
            <br />
            邮箱：{% if each.account.email %}{{ each.account.email }}{% else %}无{% endif %}
            <br />
            学生留言：{% if each.remark %}{{ each.remark }}{% else %}无{% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block bodyfoot %}
<script>
$('.list-minus-btn').hide();
$('.event-description').hide();
$('.list-plus-btn').each(function() {
  var self = $(this);
  self.click(function (){
    var id = self.attr('data-id');
    $('#desc-' + id).show();
    $('#list-minus-btn-' + id).show();
    self.hide();
  });
});
$('.list-minus-btn').each(function() {
  var self = $(this);
  self.click(function (){
    var id = self.attr('data-id');
    $('#desc-' + id).hide();
    $('#list-plus-btn-' + id).show();
    self.hide();
  });
});
$('.list-plus-btn').each(function() {
  var self = $(this);
  self.click()  ;
});
</script>
{% endblock %}