{% extends 'dashboard/base.html' %}

{% block htmlhead %}
{{ renderCss('styles/agenda.css') | raw }}
{% endblock %}

{% block breadcrumbs %}
<li>工作安排</li>
{% endblock %}

{% block content_header %}
<div class="content-header">
工作安排
</div>
{% endblock %}

{% block content_body %}
<div class="pull-left agenda-list">
  <div class="group-list-body group-body">
    <table class="appointments-list">
      <thead>
        <tr>
          <th class="time-date" style="width: 20%;">日期</th>
          <th class="time-during" style="width: 20%;">时段</th>
          <th class="event">工作安排</th>
        </tr>
      </thead>
      <tbody>
        {% for each in calendars %}
        <tr class="underlined" {% if each.startTime <= now %}style="background: #FFE8E8"{% endif %}>
          <td>{{ each.startTime | date('Y-m-d') }}</td>
          <td>{{ each.startTime | date('H:i') }} - {{ each.endTime | date('H:i') }}</td>
          <td class="event">
            {{ each.title }}
            <img src="{{ siteUrl('/static/images/plus.png') }}" id="list-plus-btn-{{ each.id }}" class="list-plus-btn" data-id="{{ each.id }}" />
            <img src="{{ siteUrl('/static/images/minus.png') }}" id="list-minus-btn-{{ each.id }}" class="list-minus-btn" data-id="{{ each.id }}" />
          </td>
        </tr>
        <tr id="desc-{{ each.id }}" class="event-description" {% if each.startTime <= now %}style="background: #FFE8E8"{% endif %}>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="event-description-item">
            工作描述：{{ each.description }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div style="height: 100px;"></div>
{% endblock %}

{% block bodyfoot %}
<script>
$('.list-minus-btn').hide();
$('.event-description').hide();
$('.list-plus-btn').each(function() {
  var self = $(this);
  self.click(function (){
    var id = self.attr('data-id');
    $('#desc-' + id).show();
    $('#list-minus-btn-' + id).show();
    self.hide();
  });
});
$('.list-minus-btn').each(function() {
  var self = $(this);
  self.click(function (){
    var id = self.attr('data-id');
    $('#desc-' + id).hide();
    $('#list-plus-btn-' + id).show();
    self.hide();
  });
});
</script>
{% endblock %}