{% extends 'dashboard/base.html' %}

{% block htmlhead %}
{{ renderCss('styles/fullcalendar.min.css') | raw }}
{{ renderCss('styles/agenda.css') | raw }}
{% endblock %}

{% block breadcrumbs %}
<li>发布空闲时段</li>
{% endblock %}

{% block content_header %}
{% endblock %}

{% block content_body %}
<div class="mash"></div>
<div class="dialog">
  <form id="dialog-form">
  <div class="dialog-title">
    &nbsp;<span class="dialog-title-content"></span>
    <div class="pull-right">
      <a href="javascript:void(0);" class="dialog-btn-close">
        <i class="icon icon-remove"></i>
      </a>
    </div>
  </div>
  <div class="dialog-content"></div>
  <div class="dialog-foot">
    <div class="pull-right">
      <div id="show-event-dialog-foot" class="dialog-foot-div">
        <a href="javascript:void(0);" class="btn btn-danger dialog-btn-delete">删除</a>
        <a href="javascript:void(0);" class="btn btn-primary dialog-btn-close">关闭</a>
      </div>
      <div id="add-event-dialog-foot" class="dialog-foot-div">
        <a href="javascript:void(0);" class="btn btn-primary dialog-btn-confirm">添加</a>
        <a href="javascript:void(0);" class="btn btn-info dialog-btn-close">关闭</a>
      </div>
    </div>
  </div>
  </form>
</div>
<div id="calendar"></div>

<div class="pull-right" style="margin-bottom: 20px;">
  <button type="button" class="btn btn-success saveAgenda">保存</button>
</div>
{% endblock %}

{% block bodyfoot %}
{{ renderJs('scripts/plugins/moment.min.js') | raw }}
{{ renderJs('scripts/plugins/fullcalendar.min.js') | raw }}
{{ renderJs('scripts/plugins/fullcalendar.lang.zh-cn.js') | raw }}
<script type="text/javascript">
$(function() {
  var currentClickEvent = null;
  var prevTitle = '';
  var prevPlace = '';
  var prevDescription = '';
  var showTipDialog = function(title, content) {
    $('.dialog-foot').hide();
    $('.dialog-title-content').html(title);
    $('.dialog-content').html(content);
    $('.dialog').fadeIn();
    $('.mash').fadeIn();
  }

  var showDetailEventFooter = function(patch) {
    $('.dialog-btn-delete').html('删除').removeAttr('disabled');
    $('.dialog-btn-delete').show();
    $('.dialog-btn-close').show();
    $('#show-event-dialog-foot').show();
    if (typeof patch != 'undefined')
      patch();
  }

  var showAddEventDialog = function(start, end, allDay, view) {
    $('.dialog-foot-div').hide();
    $('.dialog-foot').show();
    $('#add-event-dialog-foot').show();
    $('.dialog-title-content').html('添加工作安排');
    if (prevTitle || prevPlace || prevDescription) {
      $('.dialog-title-content').append(' <a href="javascript:void(0);" id="use-history-btn" class="btn-link">使用历史</a>');
    }
    var content = $('<div></div>');

    var titleDiv = $("<div></div>");
    var titleInput = $('<input type="text" id="title" class="input-text" />');
    titleDiv.append('标题：').append(titleInput);

    var placeDiv = $('<div></div>');
    var placeInput = $('<input type="text" id="place" class="input-text" />');
    placeDiv.append('地点：').append(placeInput);

    var timeDiv = $("<div></div>");
    var startDiv = $('<span></span>')
                    .addClass('datetime-format')
                    .append(start.format('YYYY-MM-DD HH:mm:ss'));
    var endDiv = $('<span></span>')
                    .addClass('datetime-format')
                    .append(end.format('YYYY-MM-DD HH:mm:ss'));
    timeDiv.append('时间段：').append(startDiv).append(' ~ ').append(endDiv);

    var visDiv = $('<div id="visiDiv"></div>');
    visDiv.append('可见分组：');
    {% for group in groups %}
    visDiv.append(
      $('<label></label>').append(
        $('<input type="checkbox" name="visibleGroup" class="visibleGroupCheckbox" value="{{ group.id }}" data-name="{{ group.name }}" />')
      ).append('{{ group.name }}')
    );
    {% endfor %}


    var descriptionDiv = $('<div></div>');
    var textarea = $('<textarea id="description" class="input-textarea"></textarea>');
    descriptionDiv.append('简述：<br />').append(textarea);

    content.append(titleDiv).append(placeDiv).append(timeDiv).append(visDiv).append(descriptionDiv);
    $('.dialog-content').html(content);
    $('.dialog').fadeIn();
    $('.mash').fadeIn();

    $('#use-history-btn').unbind();
    $('#use-history-btn').click(function() {
      $('#title').val(prevTitle);
      $('#place').val(prevPlace);
      $('#description').val(prevDescription);
    });

    $('.dialog-btn-confirm').unbind();
    $('.dialog-btn-confirm').click(function(){
      var chosenGroup = [];
      prevTitle = $('#title').val();
      prevPlace = $('#place').val();
      prevDescription = $('#description').val();
      $('.visibleGroupCheckbox').each(function () {
        if ($(this).is(":checked") == true) {
          chosenGroup.push($(this).val());
        }
      });
      var eventData = {
        title: $('#title').val(),
        place: $('#place').val(),
        description: $('#description').val(),
        visiableGroup: chosenGroup,
        start: start,
        end: end,
      };
      addEvent(eventData);
    });
  }

  var hideDialog = function() {
    $('.dialog').fadeOut();
    $('.mash').fadeOut();
  }

  $('.dialog-btn-close').click(function(){
    hideDialog();
  });

  $('.dialog-btn-delete').click(function(){
    if(currentClickEvent) {
      removeEvent(currentClickEvent);
    }
  });

  var showEventDetailDialog = function(calEvent, jsEvent, view) {
    currentClickEvent = calEvent;
    $('.dialog-foot-div').hide();
    $('#show-event-dialog-foot').show();
    showDetailEventFooter(function() {
      if (calEvent.hasAppointment) {
        $('.dialog-btn-delete').html('已被预约').attr('disabled', 'disabled');
      }
    })
    $('.dialog-foot').show();
    $('.dialog-title-content').html(calEvent.title);
    var content = $('<div></div>');
    var startDiv = $('<span></span>')
                    .addClass('datetime-format')
                    .append(calEvent.start.format('YYYY-MM-DD HH:mm:ss'));
    var endDiv = $('<span></span>')
                    .addClass('datetime-format')
                    .append(calEvent.end.format('YYYY-MM-DD HH:mm:ss'));

    var visDiv = $('<div id="visiDiv"></div>');
    var visChosenList = $('<div id="visChosenList"></div>').append('可见分组：');
    for(idx in calEvent.visibleGroups) {
      visChosenList.append('<span>' + calEvent.visibleGroups[idx] + '</span>');
    }
    visDiv.append(visChosenList);

    content.append($('<div>时间：</div>').append(startDiv).append(' ~ ').append(endDiv))
           .append(visDiv)
           .append($('<div>简述：</div>').append(calEvent.description));

    var appointmentDiv = $('<div></div>');
    var appointmentContact = $('<div id="stu-info" style="text-indent: 1.5em; line-height: 1em;"></div>');
    if (calEvent.hasAppointment) {
      appointmentDiv.append('预约学生：');
      appointmentDiv.append('<a href="javascript:void(0);" id="show-stu-info-btn" class="btn-link">' + calEvent.appointmentAccountName + '</a>');
      if (calEvent.appointmentAccountPhone.length > 0)
        appointmentContact.append('<p style="margin: 0px;">手机：<b>' + calEvent.appointmentAccountPhone + '</b></p>');
      if (calEvent.appointmentAccountShortPhone.length > 0)
        appointmentContact.append('<p style="margin: 0px;">短号：<b>' + calEvent.appointmentAccountShortPhone + '</b></p>');
      if (calEvent.appointmentAccountEmail.length > 0)
        appointmentContact.append('<p style="margin: 0px;">邮箱：<b>' + calEvent.appointmentAccountEmail + "</b></p>");
      appointmentDiv.append(appointmentContact);
      content.append(appointmentDiv);
    }

    $('.dialog-content').html(content);
    $('.dialog').fadeIn();
    $('.mash').fadeIn();
  }

  var addEvent = function(eventData) {
    calendar.fullCalendar('renderEvent', eventData, true); // stick? = true
    calendar.fullCalendar('unselect');
    saveDateTime(eventData);
    hideDialog();
  }

  var removeEvent = function(calEvent) {
    var isDelete = confirm('删除该工作安排？');
    if (isDelete) {
      found = false;
      for (idx in freeTime) {
        obj = freeTime[idx];
        if (obj.start == calEvent.start.format('YYYY-MM-DD HH:mm:ss') &&
            obj.end == calEvent.end.format('YYYY-MM-DD HH:mm:ss')){
          freeTime.splice(idx, 1);
          found = true;
          break;
        }
      }
      if (!found) {
        deleteTime.push(calEvent.id);
      }
      calendar.fullCalendar('removeEvents' , function(ev){
        return (ev._id == calEvent._id);
      });
      hideDialog();
    }
  }

  var saveDateTime = function(eventData) {
    freeTime.push({
      title: eventData.title,
      description: eventData.description,
      place: eventData.place,
      visiableGroup: eventData.visiableGroup,
      start: eventData.start.format('YYYY-MM-DD HH:mm:ss'),
      end: eventData.end.format('YYYY-MM-DD HH:mm:ss')
    });
  }

  var freeTime = [];
  var deleteTime = [];

  var date = new Date();
  var d = date.getDate();
  var m = date.getMonth();
  var y = date.getFullYear();

  calendar = $('#calendar').fullCalendar({
    lang: 'zh-cn',
    header: {
      left: 'prev,next,today',
      center: 'title',
      right: 'month,agendaWeek',
    },
    height: 'auto',
    allDaySlot: false,
    minTime: '07:00:00',
    maxTime: '23:00:00',
    slotDuration: '00:15:00',
    defaultView: 'agendaWeek',
    defaultDate: y + '-' + (m+1) + '-' + d,
    editable: true,
    eventLimit: false,
    selectable: true,
    selectHelper: true,
    events: function (start, end, timezone, callback) {
      var timer;
      $('#calendar').fullCalendar('removeEvents');
      freeTime.splice(0, freeTime.length);
      deleteTime.splice(0, deleteTime.length);
      $.ajax({
        url: "{{ urlFor('agenda.arrangement_timetable_json[get]') }}",
        type: 'get',
        dataType: 'json',
        data: {
          start: start.unix(),
          end: end.unix(),
        },
        beforeSend: function(){
          timer = setTimeout(function(){
            showTipDialog('数据加载中', '数据加载中，请耐心等候..');
          }, 500);
        },
        success: function(res) {
          callback(res);
          clearTimeout(timer);
          hideDialog();
        },
        error: function(res) {
          $G.flash.flash('服务器发生错误，请联系管理员', 'danger');
          clearTimeout(timer);
          hideDialog();
        }
      });
    },
    select: function(start, end, allDay, view) {
      if (view.name == 'month') {
        calendar.fullCalendar('unselect');
        return ;
      }
      showAddEventDialog(start, end, allDay, view);
    },
    eventClick: function (calEvent, jsEvent, view) {
      showEventDetailDialog(calEvent, jsEvent, view);
    },
  });

  $('.saveAgenda').click(function (){
    if (!freeTime.length > 0 && !deleteTime.length > 0) {
      return ;
    }
    var timer;
    $.ajax({
      url: '{{ urlFor("agenda.work_arrangement[post]") }}',
      type: 'post',
      dataType: 'json',
      cache: false,
      data: {freeTime: freeTime, deleteTime: deleteTime},
      beforeSend: function(){
        timer = setTimeout(function(){
          showTipDialog('数据发送中', '数据发送中，请耐心等候..');
        }, 500);
      },
      success: function (res) {
        if (res.success) {
          clearTimeout(timer);
          hideDialog();
          calendar.fullCalendar('removeEvents');
          calendar.fullCalendar('refetchEvents');
          freeTime.splice(0, freeTime.length);
          deleteTime.splice(0, deleteTime.length);
          $G.flash.flash('保存成功', 'success');
        } else {
          showTipDialog('保存失败', res.messages.join(', '));
        }
      },
      error: function(res) {
        clearTimeout(timer);
        hideDialog();
        $G.flash.flash('服务器发生错误，请联系管理员', 'danger');
      }
    });
  });

  window.onbeforeunload = function() {
    if (freeTime.length > 0 || deleteTime.length > 0) {
      document.body.scrollTop = document.body.scrollHeight
      return "您未保存修改，确定离开页面吗？";
    }
  }
});
</script>
{% endblock %}